@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-p3-black font-ui text-p3-white antialiased;
  }

  ::selection {
    @apply bg-p3-blue text-p3-white;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
